{% extends 'base_layout.html' %}
{% block content %}
{% load static%}

		<!-- gray bg -->	
        <section class="container tm-home-section-2" id="more">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-4 col-sm-6"> -->
                    <!-- Nav tabs -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="tm-home-box-result">
                        <ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
                            <li role="presentation">
                                <a href="#school" aria-controls="school" role="tab" data-toggle="tab">School</a>
                            </li>
    
                        </ul>
    
                        <!-- Tab panes -->
                        <!-- <div class="tab-content"> -->
                            <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                                <!-- <div class="tm-search-box effect2"> -->
                                    <form action="{% url 'results'%}" method="post" class="hotel-search-form">
                                        {% csrf_token %}
                                        <div class="tm-form-inner">
                                            <div class="form-group">
                                                 <select name="selectedsize" class="form-control">
                                                     <option value="">-- Size of School -- </option>
                                                     <option value="5000">Small (<5000 students)</option>
                                                    <option value="10000">Medium (<10,000 students)</option>
                                                    <option value="15000">Large (<15,000 students)</option>
                                                </select> 
                                              </div>
                                              <div class="form-group">
                                                <select name="selectedstate" class="form-control">
                                                    <option value="">-- Location (State) -- </option>
                                                    <option value="AL">AL</option>
                                                    <option value="AK">AK</option>
                                                    <option value="AZ">AZ</option>
                                                    <option value="AR">AR</option>
                                                    <option value="CA">CA</option>
                                                    <option value="CO">CO</option>
                                                    <option value="CT">CT</option>
                                                    <option value="DE">DE</option>
                                                    <option value="FL">FL</option>
                                                    <option value="GA">GA</option>
                                                    <option value="HI">HI</option>
                                                    <option value="ID">ID</option>
                                                    <option value="IL">IL</option>
                                                    <option value="IN">IN</option>
                                                    <option value="IA">IA</option>
                                                    <option value="KS">KS</option>
                                                    <option value="KY">KY</option>
                                                    <option value="LA">LA</option>
                                                    <option value="ME">ME</option>
                                                    <option value="MD">MD</option>
                                                    <option value="MA">MA</option>
                                                    <option value="MI">MI</option>
                                                    <option value="MN">MN</option>
                                                    <option value="MS">MS</option>
                                                    <option value="MO">MO</option>
                                                    <option value="MT">MT</option>
                                                    <option value="NE">NE</option>
                                                    <option value="NV">NV</option>
                                                    <option value="NH">NH</option>
                                                    <option value="NJ">NJ</option>
                                                    <option value="NM">NM</option>
                                                    <option value="NY">NY</option>
                                                    <option value="NC">NC</option>
                                                    <option value="ND">ND</option>
                                                    <option value="OH">OH</option>
                                                    <option value="OK">OK</option>
                                                    <option value="OR">OR</option>
                                                    <option value="PA">PA</option>
                                                    <option value="RI">RI</option>
                                                    <option value="SC">SC</option>
                                                    <option value="SD">SD</option>
                                                    <option value="TN">TN</option>
                                                    <option value="TX">TX</option>
                                                    <option value="UT">UT</option>
                                                    <option value="VT">VT</option>
                                                    <option value="VA">VA</option>
                                                    <option value="WA">WA</option>
                                                    <option value="WV">WV</option>
                                                    <option value="WI">WI</option>
                                                    <option value="WY">WY</option>
                                               </select> 
                                            </div>
                                              <div class="form-group">
                                                <select name="selectedmajor" class="form-control">
                                                    <option value="">-- Majors/Programs -- </option>
                                                    <option value="Agriculture, Agriculture Operations, and Related Sciences">Agriculture, Agriculture Operations, and Related Sciences</option>
                                                    <option value="Architecture and Related Services">Architecture and Related Services</option>
                                                    <option value="Area, Ethnic, Cultural, Gender, and Group Studies">Area, Ethnic, Cultural, Gender, and Group Studies</option>
                                                    <option value="Aviation">Aviation</option>
                                                    <option value="Biological and Biomedical Sciences">Biological and Biomedical Sciences</option>
                                                    <option value="Business, Management, Marketing, and Related Support Services">Business, Management, Marketing, and Related Support Services</option>
                                                    <option value="Communication, Journalism, and Related Programs">Communication, Journalism, and Related Programs</option>
                                                    <option value="Communications Technologies/technicians and Support Services">Communications Technologies/technicians and Support Services</option>
                                                    <option value="Computer and Information Sciences and Support Services">Computer and Information Sciences and Support Services</option>
                                                    <option value="Construction Trades">Construction Trades</option>
                                                    <option value="Education">Education</option>
                                                    <option value="Engineering Technologies and Engineering-Related Fields">Engineering Technologies and Engineering-Related Fields</option>
                                                    <option value="Engineering">Engineering</option>
                                                    <option value="English Language and Literature/letters">English Language and Literature/letters</option>
                                                    <option value="Family and Consumer Sciences/human Sciences">Family and Consumer Sciences/human Sciences</option>
                                                    <option value="Foreign Languages, Literatures, and Linguistics">Foreign Languages, Literatures, and Linguistics</option>
                                                    <option value="Health Professions and Related Programs">Health Professions and Related Programs</option>
                                                    <option value="History">History</option>
                                                    <option value="Homeland Security, Law Enforcement, Firefighting">Homeland Security, Law Enforcement, Firefighting</option>
                                                    <option value="Human Services">Human Services</option>
                                                    <option value="Legal Professions and Studies">Legal Professions and Studies</option>
                                                    <option value="Liberal Arts and Sciences Studies and Humanities">Liberal Arts and Sciences Studies and Humanities</option>
                                                    <option value="Library Science">Library Science</option>
                                                    <option value="Mathematics and Statistics">Mathematics and Statistics</option>
                                                    <option value="Mechanic and Repair Technologies/technicians">Mechanic and Repair Technologies/technicians</option>
                                                    <option value="Military Technologies and Applied Sciences">Military Technologies and Applied Sciences</option>
                                                    <option value="Multi/interdisciplinary Studies">Multi/interdisciplinary Studies</option>
                                                    <option value="Natural Resources and Conservation">Natural Resources and Conservation</option>
                                                    <option value="Parks, Recreation, Leisure, and Fitness Studies">Parks, Recreation, Leisure, and Fitness Studies</option>
                                                    <option value="Personal and Culinary Services">Personal and Culinary Services</option>
                                                    <option value="Philosophy and Religious Studies">Philosophy and Religious Studies</option>
                                                    <option value="Physical Sciences">Physical Sciences</option>
                                                    <option value="Precision Production">Precision Production</option>
                                                    <option value="Psychology">Psychology</option>
                                                    <option value="Science Technologies/technicians">Science Technologies/technicians</option>
                                                    <option value="Social Sciences">Social Sciences</option>
                                                    <option value="Theology and Religious Vocations">Theology and Religious Vocations</option>
                                                    <option value="Transportation and Materials Moving">Transportation and Materials Moving</option>
                                                    <option value="Visual and Performing Arts">Visual and Performing Arts</option>
                                                    <option value="">Other</option>
                                               </select> 
                                            </div>
                                            <div class="form-group margin-bottom-0">
                                                <select name="selectedprice" class="form-control">
                                                     <option value="">-- Annual Tuition -- </option>
                                                     <option value="15000">$ (<$15,000)</option>
                                                    <option value="30000">$$ (<$30,000)</option>
                                                    <option value="45000">$$$ (<$45,000)</option>
                                                    <option value="999999">$$$$ (>$45,000)</option>
                                                </select> 
                                            </div>
                                        </div>							
                                        <div class="form-group tm-yellow-gradient-bg text-center">
                                                <button type="submit" name="submit" class="tm-yellow-btn">Check Now</button>
                                        </div>  
                                    </form>
                                </div>
                            <!-- </div> -->
                                
                        <!-- </div> -->
                    </div>								
                <!-- </div> -->

                <!--Featured shit-->
    
                <!-- <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                        <img src="{%static 'img/index-01.jpg'%}" alt="image" class="img-responsive">
                        <a href="#">
                            <div class="tm-green-gradient-bg tm-city-price-container">
                                <span>New York</span>
                                <span>$6,600</span>
                            </div>	
                        </a>			
                    </div>				
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                        <img src="{%static 'img/index-02.jpg'%}" alt="image" class="img-responsive">
                        <a href="#">
                            <div class="tm-red-gradient-bg tm-city-price-container">
                                <span>Paris</span>
                                <span>$4,200</span>
                            </div>	
                        </a>					
                    </div>				
                </div>
            </div>
         -->
            <!--End Featured Shit-->

            <!--Results-->
            <div class="section-margin-top">
                <div class="row">				
                    <div class="tm-section-header">
                        <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                        <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Results</h2></div>
                        <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
                    </div>
                </div>
                
                <div class="row">
                    {% for item in school %}
                    <div class="tm-tours-box-1-extended">
                            <div class="tm-tours-box-1-info">
                                <div class="tm-tours-box-1-info-left">
                                    <p class="text-uppercase margin-bottom-20">{{item.institution}} </p>	
                                    {% if item.website %}
                                        <a href= "https://{{item.website}}" target="_blank"> {{item.website}} </a>
                                    {% endif %}
                                </div>
                                <div class="tm-tours-box-1-info-right">
                                    <p class="gray-text tours-1-description">
                                        Total student body size: {{item.totalstudents}} <br>
                                        Tuition (out of state): $ {{item.tuition_outstate}}	<br>
                                    {% if item.tuition_instate %}
                                        Tuition (in state): $ {{item.tuition_instate}}	
                                    {% endif %}
                                    </p>
                                </div>							
                            </div>
                            <div class="tm-tours-box-1-link">
                                <div class="tm-tours-box-1-link-left">
                                    {{item.city}}, {{item.state}}
                                </div>
                                
                                    <form method="POST" action = "{% url 'info' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="numID" value="{{item.unitid}}">
                                        <button type="submit" class="tm-tours-box-1-link-right" name="submit">More Info</button>
                                    </form>							
                            </div>
                        </div>					
                    {% endfor %}			
                </div>		
            </div>
        </section>	

<!--End Results-->

<br>
<br>
<br>
<br>

{%endblock%}


